In [2]:
%pip install mysql-connector

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: mysql-connector in /opt/homebrew/lib/python3.9/site-packages (2.2.9)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="embargos"
)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (61 Connection refused)

In [4]:
cr = db.cursor(buffered=True)

NameError: name 'db' is not defined

In [5]:
cr.execute('''
    CREATE TABLE IF NOT EXISTS embargos (
    estado varchar(4) NOT NULL,
    anotacion varchar(30) NOT NULL,
    localidad varchar(30) NOT NULL,
    complejidad varchar(50) NOT NULL,
    detalle_complejidad varchar(50) NOT NULL,
    encargado varchar(100) NOT NULL,
    fecha_recepcion varchar(10) NOT NULL,
    hora_recepcion varchar(10) NOT NULL,
    job_id varchar(20) NOT NULL,
    fecha_embargo varchar(20) NOT NULL,
    id_oracle varchar(20) NOT NULL,
    efectivo varchar(10) NOT NULL,
    tipo_documento varchar(20) NOT NULL,
    numero_documento varchar(20) NOT NULL,
    tipo_cuenta varchar(20) NOT NULL,
    numero_cuenta varchar(20) NOT NULL
    )
''')

NameError: name 'cr' is not defined

In [ ]:
cr.execute('''
CREATE TABLE IF NOT EXISTS productos (
    tipo_documento varchar(20) NOT NULL,
    numero_documento varchar(20) NOT NULL,
    fecha_apertura varchar(20) NOT NULL,
    estado varchar(5) NOT NULL,
    plan varchar(5) NOT NULL,
    saldo_disponible varchar(20) NOT NULL,
    cuenta_inembargable varchar(20) NOT NULL,
    nombre_completo varchar(100) NOT NULL,
    nombre_corto varchar(20) NOT NULL,
    oficina_duena varchar(20) NOT NULL,
    marcacion_cuenta varchar(20) NOT NULL,
    cuenta_embargada varchar(20) NOT NULL
    )
''')