In [35]:
import pandas as pd
from IPython.display import display

In [89]:

df_embargos = pd.read_csv("embargos.csv", sep=",", header=0, index_col = False)

In [85]:
display(df_embargos)

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
0,918,NaN,NaN,40.0,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,8.909002e+08,TRILLOS USME AMPARO ESTHER,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,385400
1,918,NaN,NaN,40.0,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5.915246e+07,PEDRO VICENTE REYES PEREZ,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,152736600
2,918,NaN,NaN,40.0,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,1.909111e+13,HENAO ESPITIA JHON FREDY 591,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,563300
3,918,NaN,NaN,40.0,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,2.190306e+08,HERNANDEZ LAVERDE FABIO,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,19765900
4,918,NaN,NaN,40.0,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5.059152e+09,RIERES BARRIOS JOSE RAFAEL,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,23281000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,918,NaN,NaN,40.0,NaN,CDA0A00366E511EB814D00155D484328,NO,NO,BUCARAMANGA,NaN,...,1.387143e+07,LUIS ALEJANDRO FERREIRA RUIZ,Olga Cecilia Quiroz Escobar,RL00085831,NaN,NaN,3,NaN,PERSONAS NATURALES,50000000
861,918,NaN,NaN,40.0,Banco Agrario,8C13075F66EC11EB814D00155D484328,NO,NO,IPIALES,Juzgado,...,1.300790e+07,CARLOS AGUSTIN JARAMILLO MESIAS,Luis Fernando Posada Rios,RL00085893,NaN,NaN,3,NaN,COMERCIO,36000000
862,918,NaN,NaN,40.0,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,9.005495e+08,OCIVILCOMP S A S RL,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,SERVICIOS NO FINANCIEROS,153200000
863,918,NaN,NaN,40.0,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,7.481164e+07,ARIEL HERNAN DIAZ RIVERA,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,CONSTRUCCION,153200000
864,918,NaN,NaN,40.0,NaN,BC29419666E511EB815300155D321E71,NO,NO,BUCARAMANGA,NaN,...,9.129519e+07,BANCO CAJA SOCIAL SA,Ana Carolina Osorio Osorio,RL00085826,NaN,NaN,3,NaN,NaN,25400000

In [66]:
df_embargos[["RESPONDENTID"]]

     RESPONDENTID
0    8.909002e+08
1    5.915246e+07
2    1.909111e+13
3    2.190306e+08
4    5.059152e+09
..            ...
860  1.387143e+07
861  1.300790e+07
862  9.005495e+08
863  7.481164e+07
864  9.129519e+07

[865 rows x 1 columns]

In [63]:
df_embargos.describe()

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,CLAIMANTID,CLIENTSEGMENT,LAWTYPE,LEGALNUMBER,MANAGEOBS,PAIDACCOUNTNO,PERCENT,REGISTRATIONID,RESPONDENTID,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION
count,865.0,0.0,0.0,801.000000,3.360000e+02,0.0,865.000000,5.640000e+02,0.0,6.540000e+02,865.000000,8.650000e+02,8.580000e+02,0.0,865.000000,0.0
mean,918.0,NaN,NaN,39.958801,5.512292e+09,NaN,1.791908,4.056201e+12,NaN,2.571499e+11,0.035838,3.046014e+06,1.233646e+11,NaN,3.194220,NaN
std,0.0,NaN,NaN,1.165998,3.900348e+09,NaN,0.406178,3.911325e+13,NaN,3.966139e+11,1.020558,2.682181e+05,9.810401e+11,NaN,1.515113,NaN
min,918.0,NaN,NaN,7.000000,5.163282e+06,NaN,1.000000,1.000000e+00,NaN,1.101204e+10,0.000000,2.755860e+06,1.195250e+05,NaN,3.000000,NaN
25%,918.0,NaN,NaN,40.000000,8.999991e+08,NaN,2.000000,4.367500e+02,NaN,6.020000e+10,0.000000,2.834619e+06,4.543098e+07,NaN,3.000000,NaN
50%,918.0,NaN,NaN,40.000000,8.001973e+09,NaN,2.000000,1.317000e+03,NaN,1.100120e+11,0.000000,2.925578e+06,1.807203e+08,NaN,3.000000,NaN
75%,918.0,NaN,NaN,40.000000,8.903003e+09,NaN,2.000000,2.019001e+08,NaN,4.139345e+11,0.000000,3.482199e+06,9.001554e+08,NaN,3.000000,NaN
max,918.0,NaN,NaN,40.000000,1.116699e+10,NaN,2.000000,9.001202e+14,NaN,5.451820e+12,30.000000,3.483373e+06,1.909111e+13,NaN,15.000000,NaN

In [64]:
df_embargos.shape

(865, 51)

In [45]:
df_embargos.dtypes

ACCOUNTOFFICE         int64
ALLOCATIONDATE      float64
APPLICATIONDATE     float64
BANKCODE            float64
BANKNAME             object
CASEREFERENCE        object
CHECKCD              object
CHEKMASIVO           object
CITY                 object
CLAIMANTENTITY       object
CLAIMANTID          float64
CLAIMANTNAME         object
CLIENTSEGMENT       float64
CLOSEDOPEN           object
COMPLEJIDAD          object
DOCTYPE              object
EMISSIONDATE         object
EMPLOYEENAME         object
ENTITYPROCESS        object
ENTRYCHANNEL         object
FILEDID              object
FILIALID             object
FUTURE               object
HASRETURNED          object
ISLINKED             object
ISTOWAITFORGUID      object
LAWTYPE               int64
LEGALADDRESS         object
LEGALDEPARTMENT      object
LEGALNAME            object
LEGALNUMBER         float64
LETTERTYPE           object
MANAGEOBS           float64
ORACLEID             object
PAIDACCOUNTNO       float64
PERCENT               int64
RECEPTIONDATE        object
REGISTRATIONID        int64
REQUESTSENDER        object
REQUIREMENTSTATE     object
REQUIREMENTTYPE      object
RESPONDENTID        float64
RESPONDENTNAME       object
RESPONSABLE          object
RUB                  object
SCANUSER             object
SISTEMBANKNAME      float64
SOLUTIONDAYS          int64
SPECIALANOTATION    float64
SUBSEGMENT           object
VALUE                object
dtype: object

In [65]:
total_nulos = df_embargos.isnull().sum().sort_values(ascending = False)
porcentaje_nulos = (df_embargos.isnull().sum()/df_embargos.isnull().count()).sort_values(ascending = False)
cuadro_nulos = pd.concat([total_nulos_embargos, porcentaje_nulos], axis = 1, keys = ['total_nulos_embargos','porcentaje_nulos'])
cuadro_nulos

                  total_nulos_embargos  porcentaje_nulos
APPLICATIONDATE                    865          1.000000
ALLOCATIONDATE                     865          1.000000
MANAGEOBS                          865          1.000000
CLIENTSEGMENT                      865          1.000000
SPECIALANOTATION                   865          1.000000
SISTEMBANKNAME                     865          1.000000
SCANUSER                           653          0.754913
CLAIMANTID                         529          0.611561
ISTOWAITFORGUID                    520          0.601156
SUBSEGMENT                         518          0.598844
ISLINKED                           347          0.401156
LEGALNUMBER                        301          0.347977
PAIDACCOUNTNO                      211          0.243931
BANKNAME                           211          0.243931
CLAIMANTENTITY                     177          0.204624
FILIALID                           177          0.204624
CLAIMANTNAME                       177          0.204624
CLOSEDOPEN                         177          0.204624
EMISSIONDATE                       177          0.204624
BANKCODE                            64          0.073988
LEGALADDRESS                        62          0.071676
VALUE                               58          0.067052
EMPLOYEENAME                        43          0.049711
ENTITYPROCESS                       14          0.016185
LETTERTYPE                          14          0.016185
RESPONDENTNAME                       8          0.009249
RESPONDENTID                         7          0.008092
RESPONSABLE                          4          0.004624
LEGALDEPARTMENT                      2          0.002312
COMPLEJIDAD                          1          0.001156
CITY                                 0          0.000000
RUB                                  0          0.000000
FUTURE                               0          0.000000
REQUIREMENTSTATE                     0          0.000000
CHEKMASIVO                           0          0.000000
SOLUTIONDAYS                         0          0.000000
CHECKCD                              0          0.000000
CASEREFERENCE                        0          0.000000
REQUIREMENTTYPE                      0          0.000000
RECEPTIONDATE                        0          0.000000
REQUESTSENDER                        0          0.000000
REGISTRATIONID                       0          0.000000
HASRETURNED                          0          0.000000
PERCENT                              0          0.000000
ORACLEID                             0          0.000000
DOCTYPE                              0          0.000000
LEGALNAME                            0          0.000000
LAWTYPE                              0          0.000000
ENTRYCHANNEL                         0          0.000000
FILEDID                              0          0.000000
ACCOUNTOFFICE                        0          0.000000