In [24]:
import pandas as pd
from IPython.display import display

In [25]:
column_names = ["NUMERO_DE_RASTREO", "TIPO_DE_IDENTIFICACION_DEL_TITULAR", "NRO_DE_IDENTIFICACION_DEL_TITULAR", "INDICADOR_DE_SOLO_TITULAR_PRINCIPAL", "INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS",
"OFICINA_DUENA_DE_LA_CUENTA", "CUENTA_PERMITE_DEBITOS_SOBREGIRO", "CUENTA_PERMITE_CREDITOS_SOBREGIRO", "MARCAS_DE_LAS_CUENTAS", "FILLER_PARA_USO_FUTURO", "CODIGO_DE_RESPUESTA","DESCRIPCION_DE_RESPUESTA",
"CONSECUTIVO_DE_CUENTAS_CONSULTADAS_POR_CLIENTE","TIPO_DE_CUENTA_A_CONSULTAR", "NUMERO_DE_CUENTA","CODIGO_DE_LA_OFICINA_DUENA_DE_LA_CUENTA", "CUENTA_PERMITE_DEBITOS", "CUENTA_PERMITE_CREDITOS", "MONEDA", 
"FECHA_DE_APERTURA_DE_LA_CUENTA", "NUMERO_DE_DIAS_DE_INACTIVIDAD_DE_LA_CUENTA", "INDICADOR_DE_CUENTA_CANCELADA", "FECHA_DE_CIERRE_DE_LA_CUENTA","NUMERO_DE_COTITULARES", "TIPO_IDENTIFICACION_TITULAR", "NRO_DE_IDENTIFICACION_TITULAR",
"NOMBRE_TITULAR_CUENTA", "RELACION_ENTRE_CLIENTE_Y_CUENTA", "REGIMEN_CUENTA_MAESTRA", "CODIGO_DE_SERVICIO","PLAZO_SOBREGIRO", "DIAS_SOBREGIRO",
"DIAS_EN_MORA_SOBREGIRO", "CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES", "SIGNO_DEL_CUPO_DE_SOBREGIRO", "VALOR_DEL_CUPO_DE_SOBREGIRO", "SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA",
"SALDO_EFECTIVO_DE_LA_CUENTA", "SIGNO_DEL_SALDO_EN_CANJE_DE_LA_CUENTA", "SALDO_EN_CANJE_DE_LA_CUENTA",
"SIGNO_DEL_SALDO_DISPONIBLE_DE_LA_CUENTA", "SALDO_DISPONIBLE_DE_LA_CUENTA", "SIGNO_DEL_SALDO_DISPONIBLE_SIN_SOBREGIRO", "SALDO_DISPONIBLE_SIN_SOBREGIRO", "SIGNO_DEL_SALDO_EN_CUENTA_POR_COBRAR",
"SALDO_EN_CUENTA_POR_COBRAR", "SIGNO_DEL_SALDO_BLOQUEADO", "SALDO_BLOQUEADO", "SIGNO_DE_SALDO_EN_BOLSILLOS", "SALDO_EN_BOLSILLOS", "SIGNO_DEL_SALDO_EN_CANJE_AL_INICIO_DEL_DIA", "SALDO_EN_CANJE_AL_INICIO_DEL_DIA",
"SIGNO_DEL_SALDO_EFECTIVO_AL_INICIO_DEL_DIA", "SALDO_EFECTIVO_AL_INICIO_DEL_DIA", "SIGNO_DEL_SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO", "SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO",
"SIGNO_INTERES_NORMALES", "INTERES_NORMALES", " SIGNO_INTERES_EN_SUSPENSION", "INTERES_EN_SUSPENSION", "SIGNO_CUPO_DE_REMESAS", "CUPO_DE_REMESAS", "SIGNO_CUPO_REMESA_NEGOCIADA", "CUPO_REMESA_NEGOCIADA",
"SIGNO_UTILIZACION_REMESAS", "UTILIZACION_REMESAS", "UTILIZACION_DE_REMESAS", "PARA_USO_FUTURO_INFO_DE_LA_CUENTA", "CAPTACION"
]

print(len(column_names))

types = {}

for value in column_names:
    types[value] = str

df_productos_legales = pd.read_csv("data/input/ProductosLegales", sep="|", header=None, names=column_names, index_col=False, dtype=types)
display(df_productos_legales)

69

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,1,000000068287066,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000021,1,000000008699669,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000002,1,000001090407176,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000040,1,000000080431468,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000023,1,000000075070484,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33277,000000009025,1,000000045526350,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33278,000000009029,1,000000045485857,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33279,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33280,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33281,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [26]:
df_productos_legales.describe()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
count,33282,33282,33282,33282,33282,0,0,0,0,0,...,33282,33282,33282,33282,33282,33282,33282,33282,33282,33282
unique,7879,2,6240,1,1,0,0,0,0,0,...,1,81,1,43,1,12,1,9,1,2
top,000000008376,3,000000890903938,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
freq,921,24729,22104,33282,33282,NaN,NaN,NaN,NaN,NaN,...,33282,33151,33282,33218,33282,33232,33282,33263,33282,33280

In [27]:
df_productos_legales.shape

(33282, 69)

In [28]:
total_null = df_productos_legales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_legales.isnull().sum()/df_productos_legales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                            total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA                       33282           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO                 33282           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO                33282           1.0
MARCAS_DE_LAS_CUENTAS                            33282           1.0
FILLER_PARA_USO_FUTURO                           33282           1.0
...                                                ...           ...
DIAS_EN_MORA_SOBREGIRO                               0           0.0
CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES           0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR                   0           0.0
VALOR_DEL_CUPO_DE_SOBREGIRO                          0           0.0
CAPTACION                                            0           0.0

[69 rows x 2 columns]

In [29]:
df_productos_legales.dtypes

NUMERO_DE_RASTREO                         object
TIPO_DE_IDENTIFICACION_DEL_TITULAR        object
NRO_DE_IDENTIFICACION_DEL_TITULAR         object
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL       object
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS    object
                                           ...
SIGNO_UTILIZACION_REMESAS                 object
UTILIZACION_REMESAS                       object
UTILIZACION_DE_REMESAS                    object
PARA_USO_FUTURO_INFO_DE_LA_CUENTA         object
CAPTACION                                 object
Length: 69, dtype: object

In [30]:
df_productos_virtuales = pd.read_csv("data/input/ProductosVirtuales", sep="|", header=None, names=column_names, dtype=types)
df_productos_virtuales.head()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000307,2,59152459,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000307,3,19091109214037,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000205,7,219030612,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000069,5,5059152464,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [31]:
total_null = df_productos_virtuales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_virtuales.isnull().sum()/df_productos_virtuales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                            total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA                         928           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO                   928           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO                  928           1.0
MARCAS_DE_LAS_CUENTAS                              928           1.0
FILLER_PARA_USO_FUTURO                             928           1.0
...                                                ...           ...
DIAS_EN_MORA_SOBREGIRO                               0           0.0
CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES           0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR                   0           0.0
VALOR_DEL_CUPO_DE_SOBREGIRO                          0           0.0
CAPTACION                                            0           0.0

[69 rows x 2 columns]

In [32]:
df_productos_virtuales.dtypes

NUMERO_DE_RASTREO                         object
TIPO_DE_IDENTIFICACION_DEL_TITULAR        object
NRO_DE_IDENTIFICACION_DEL_TITULAR         object
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL       object
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS    object
                                           ...
SIGNO_UTILIZACION_REMESAS                 object
UTILIZACION_REMESAS                       object
UTILIZACION_DE_REMESAS                    object
PARA_USO_FUTURO_INFO_DE_LA_CUENTA         object
CAPTACION                                 object
Length: 69, dtype: object

In [33]:
df_productos_legales.describe()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
count,33282,33282,33282,33282,33282,0,0,0,0,0,...,33282,33282,33282,33282,33282,33282,33282,33282,33282,33282
unique,7879,2,6240,1,1,0,0,0,0,0,...,1,81,1,43,1,12,1,9,1,2
top,000000008376,3,000000890903938,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
freq,921,24729,22104,33282,33282,NaN,NaN,NaN,NaN,NaN,...,33282,33151,33282,33218,33282,33232,33282,33263,33282,33280

In [34]:
df_productos = df_productos_legales.append(df_productos_virtuales)

/var/folders/sc/_jqd0m8s5f9gqbgm5k_1twjc0000gn/T/ipykernel_13042/4251618290.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_productos = df_productos_legales.append(df_productos_virtuales)

In [35]:
df_productos.shape

(34210, 69)

In [36]:
df_productos.sort_values(by=['NRO_DE_IDENTIFICACION_DEL_TITULAR'])

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
856,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
857,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
12114,000000013973,1,000000000281485,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
13899,000000012040,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
22047,000000013266,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
870,000000000009,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33,000000000006,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
903,000000000020,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
216,000000000158,1,92137605,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000